modal==1.2.2
fastapi==0.119.0
groq==0.36.0
numpy==2.2.6
pandas==2.3.1
scikit-learn==1.7.1
imbalanced-learn==0.14.0
xgboost==1.7.6
lightgbm==4.6.0
catboost==1.2.8
joblib==1.5.2
openpyxl==3.1.5
pydantic==2.11.10
